@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="text-center">
    <h1>Lista de Clientes</h1>
    <a role="button" class="btn btn-success">Adicionar Cliente</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Emeil</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otoo@emeil.com</td>
                <td>(11)98765-1234</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Atualizar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otoo@emeil.com</td>
                <td>(11)98765-1234</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Atualizar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otoo@emeil.com</td>
                <td>(11)98765-1234</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Atualizar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
